{% extends "application.html.twig" %}

{% block showcaseDescription %}New Person Form{% endblock showcaseDescription %}

{% block javascriptCode %}
    <script type="text/javascript">
        var email_index = 1;
        var street_index = 1;
        var phone_number_index = 1;
        $(document).ready(function(){
            $('#more_email').click(function(){
                email_index++;
                var appendHTML = '<div class="form-group"><label for="email_'+email_index+'">Email :</label>';
                appendHTML += '<input id="email_'+email_index+'" type="text" name="emails[]" class="form-control col-md-12">';
                appendHTML += '</div>';
                $(this).closest('.panel').find('.panel-body').find('.form-group').last().after(appendHTML);
            });

            $('#more_street').click(function(){
                street_index++;
                var appendHTML = '<div class="form-group"><label for="street_'+street_index+'">Street :</label>';
                appendHTML += '<input id="street_'+street_index+'" type="text" name="streets[]" class="form-control col-md-12">';
                appendHTML += '</div>';
                $(this).closest('.panel').find('.panel-body').find('.form-group').last().after(appendHTML);
            });

            $('#more_phone_number').click(function(){
                street_index++;
                var appendHTML = '<div class="form-group"><label for="street_'+phone_number_index+'">Phone Number :</label>';
                appendHTML += '<input id="phone_number_'+phone_number_index+'" type="text" name="phone_numbers[]" class="form-control col-md-12">';
                appendHTML += '</div>';
                $(this).closest('.panel').find('.panel-body').find('.form-group').last().after(appendHTML);
            });
        });
    </script>
{% endblock javascriptCode %}

{% block applicationView %}
    <div class="container">
        {% if inserted == true %}
            <div class="row">
                <div class="col-md-12">
                    <p class="bg-success">The person added successfully.</p>
                </div>
            </div>
        {% endif %}
        <form action="{{ path('address_book_addPerson') }}" method="post">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Basic Data</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="first_name">First Name :</label>
                                <input id="first_name" type="text" name="first_name" class="form-control col-md-12">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name :</label>
                                <input id="last_name" type="text" name="last_name" class="form-control col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Email Addresses
                            <div class="pull-right">
                                <button id="more_email" type="button" class="btn btn-default btn-xs">More</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="email_1">Email :</label>
                                <input id="email_1" type="text" name="emails[]" class="form-control col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Phone Numbers
                            <div class="pull-right">
                                <button id="more_phone_number" type="button" class="btn btn-default btn-xs">More</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="phone_number_1">Phone Number :</label>
                                <input id="phone_number_1" type="text" name="phone_numbers[]" class="form-control col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Street Addresses
                            <div class="pull-right">
                                <button id="more_street" type="button" class="btn btn-default btn-xs">More</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="street_1">Street :</label>
                                <input id="street_1" type="text" name="streets[]" class="form-control col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Group</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="group">Select Group(s) :</label>
                                <select name="groups[]" id="group" class="form-control" multiple>
                                    {% for i in groups %}   <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}</select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock applicationView %}